*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.divimg {
  position: absolute;
    opacity: 0.5;
}

li {
    list-style: none; 
  
}
 a{
    text-decoration: none;
 }

.header {
    
   display: flex;
   justify-content: space-around;
   background-color: darkblue;
   height: 10vh;
   align-items: center;
   margin: 0 0 100px 0;
}

.nav-item  {
    display: flex;
}

.nav-item li a {
    color: white;
    margin: 5px;
}

.nav-item li a:hover {
    transition: all 0.5s ease-in-out;
    border: 0.5px solid white;
    background-color: rgb(1, 82, 136);
    padding: 2px;
}

.turismo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;  
    max-width: 992px; 
    max-height: 800px;
    margin: 0 auto;
}

.apresentacao{
   margin: 50px 0 0 0;
    max-width: 300px;
    height: 300px;
    border-radius: 50px;
    text-align:center
}
 .apresentacao h1 {
    margin:  0 0 15px 0;
    color:darkblue;
    font-size: 50px;
    text-shadow: 10px;
    text-align: start;
    background-color: white;
 }

 .apresentacao p{
    color: blue;
    margin: 20px;
    font-size: 20px;
    background-color: white;
 }

.saibamais{
    display: block;
    width: 100%;
    border-radius: 100px;
    padding: 5px 0 5px 0;
    background-color: darkblue;
    margin: 5px 0 0 0;
    color: white;
    text-align: center;
}
.saibamais:hover{
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
}
.img1 {
    display: flex;
    align-self: flex-end;
   
}
.img2 {
    display: flex;
  
}

.menor {
    display: flex;
    max-width: 400px;
}

.quem-somos {
     background: linear-gradient(90deg,rgb(0, 95, 139),rgb(5, 160, 231),rgb(4, 37, 224)); */
    font-size:20px;
     border: 2px solid black;
    border-top-left-radius: 25px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; 
}

#servico{
    display: flex;
    justify-content: flex-start;
    max-height: 50px
}

.centro {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 945px;
    margin: 0 auto;
    background-color: blue;
}
.centro-item{
    display: flex;
    flex-flow: column-reverse wrap;
    padding: 15px;
    color: white;
}
.centro-item a{
    background-color: rgb(3, 112, 112);
    color: rgb(0, 0, 0);
    max-width: 80px;
    margin:0 0 10px 0;
    border: solid black 1px;
    text-align: center;
    border-radius: 25%;
}

.centro-item a:hover{
    color: white;
    max-width: 85px;
    transition: all 1s ease-out;
    background-color:rgba(49, 47, 173, 1.5)
}

.svg1{
    background-image: url(images/avianzinho.svg);
}

.modelo{
    border: 4px solid black;
    margin: 25px;
    padding: 10px;
    background-color: white;
}

 .modelo:hover{
    border: #5FA97A  solid 4px;
 }

.modelo h3{
    background-color: darkslategray;
    color: white;
    text-align: center;
    border-radius: 25%;
    margin: 0 0 10px 0
}

.modelo a {
    margin: 15px 0 0 0;
}

.fim {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    background-color: blue;
    height: 200px;
    margin: 20px 0 0 0;
    text-align: center;
 }